# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Environment files
.env
instance/
config.py

# SQLite DB
*.db

# MacOS/Windows system files
.DS_Store
Thumbs.db

# Output files
*.pdf
